html{
    --background-main:linear-gradient(rgb(255, 255, 255),rgb(180, 180, 180));
    --secondary-color:rgb(255, 238, 0);
    --button-color:rgb(235, 0, 34);
    --maincolor:rgb(255, 0, 34);
    --dice-de-select-color:rgb(150, 150, 150);
    background: rgb(180, 180, 180);
    font-family: 'Anton', sans-serif;
    color:var(--maincolor);
    min-height:100%;
    margin:0%;

}

body{
    background:var(--background-main);
    min-height: 100%;
    margin:0%;

}
li{
    list-style-type: none;
    vertical-align: middle;
}
button{
    background: var(--button-color);
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Galada',cursive;
    color:white;
    height:10%;
    width:10%;
}
h5{
    font-family: 'Galada',cursive;
    margin:0px;
    margin-left:5%;
    margin-top:2.5%;
    font-weight: normal;
    font-size: 80px;
    height:80px;
    line-height: 60px;
    border-width: 2px;
    /*border-style:solid;*/
    /*border-color:rgb(130,101,167);*/
    padding:1%;
    padding-right: 4%;
    display: inline-block;
    
}
#TopCont{
    display: flex;
    flex-wrap: wrap;
}
#TopContLeft{
    width:500px;
}
.GameBtn{
    height: 50px;
    width:50px;
    border-radius: 20%;
    margin:2.5%;
    box-shadow: 6px 6px 6px 3px rgba(161, 161, 161, 0.774);
    display: none;
}
#gamelist{
    background: rgba(255, 255, 255);
    height:500px;
    width:100%;
    margin:0%;
    padding: 0%;
    overflow:auto;
}
#gamelist li{
    list-style-type: none;
    vertical-align: middle;
    height:70px;
    line-height: 70px;
    font-size:20px;
    /*text-align: center; */ 
}
#gamelist li:hover{
    background: var(--secondary-color);
}
#gamelist li button{
    float:right;
    background:var(--button-color);
    border: 0px;
    height: 100%;
    width:10%;
    /*border-radius: 40%;*/
    margin:0 auto;
    display: block;
    transition-duration: 1s;
} 
#gamelist li button:hover{
    background: var(--secondary-color);
}
#PlayerListCont{
    
    height:200px;
    width:500px;
    margin:0% 0% 0% 2.5%;
    padding: 0%;
    overflow:auto;
    position: relative;
}
#PlayerList{
    background-color:rgb(255, 255, 255,.5);
    padding:2.5%;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 6px 6px 6px 3px rgba(161, 161, 161, 0.774)
}
#PlayerListCont li{
    list-style-type: none;
    vertical-align: middle;
    height:30px;
    line-height: 30px;
    font-size:20px;
}

#PlayerListName{
    float:left;
    height:30px;
    line-height: 30px;
    font-size:20px;
}
#PlayerListScore{
    float:right;
    position: absolute; 
    height:30px;
    line-height:30px;
    right:10px;
    margin:0 auto;
    display: block;
}
#PlayerListTurn{
    border-bottom-color:var(--maincolor);
    border-bottom-width:2px;
    border-bottom-style: solid;
}
#chat{
    background:rgba(255, 255, 255, 0.3);
    /*position: absolute;*/
    bottom:0px;
    left:0px;
    width:92%;
    height:220px;
    margin:2%;
    border-color: var(--maincolor);
    border-width:30%;
    padding:2%;
    border-style: solid;
}
#chat input{
    /*position: absolute;*/
    width:83%;
    /*bottom: 0px;*/
    float: left;
    margin:0px auto;
    padding: 0px;
    border:0px;
    display:block;
    height:10%;
    margin-bottom: 5%;
}
#chat button{
    width:10%;
    margin:0%;
    height:10%;
    float:right;
}
#chatlog{
    background:rgba(255, 255, 255, 0.3);
    height:200px;
    display: block;
    width:100%;
    margin:0%;
    padding: 0%;
    overflow:auto;
}
#chatlog li{
    list-style-type: none;
    vertical-align: middle;
    font-size:12px;
}
#dicecont :last-child{
    margin-right: 2%;
}
.dice{
    color:black;
    width:50px;
    height:50px;
    line-height: 50px;
    display:inline-block;
    background: white;
    margin: 1%;
    margin-top:1%;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 2px 1px rgba(161, 161, 161, 0.774);

}

/*Modal*/
.modalBG{
     display:none; 
    /*filter:blur(5px);*/
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,.2);
    animation-name:modalopen;
    animation-duration:1s;

}
.modalBox{
    z-index: 2;
    background-color:rgb(44, 44, 44);
    width:70%;
    height:50px;
    filter:none;
    vertical-align: middle;
    animation-name:modalopen;
    animation-duration:2s;
    margin:15%;
    border-top: 10px solid;
}
.modalBox input{
    background-color: whitesmoke;
    font-size: 20px;
    border: 0px;
}
#Master{
    filter:none;
    animation-name: ModalToggle;
    animation-duration: 2s;
}
 /*@keyframes ModalToggle{
    from{filter:none}
    to{filter:blur(5px)}
} */
@keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
  }